input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
  }

input :hover {
    border-color: #28a745;
  }